body {
  background-color: lightGray;
}
h1 {
  margin-bottom: 0.5em;
}

.hero-unit {
  background-color: rgba(0,0,0,0);
}
h1#logo {
  width: 170px;
  height: 140px;
  background-image: url("../img/logo.png");
  cursor: pointer;
}
h1#logo span {
  display: none;
}

.container .liquid {
  width:104%;
  padding-left:4%;
  margin-left: -4%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(255,255,255,0.5);
}

.main {
  position:relative;
  padding-bottom: 60px !important;
}
.main.liquid {
  border-radius: 6px;
}

.footer.liquid {
  border-radius: 6px 6px 0 0;
}

#home li {
  position:relative;
  height: 250px;
  border-radius: 6px;
  background-color: gray;
  cursor: pointer;
}
#home h1 {
  width:100%;
  position:absolute;
  bottom:10px;
  text-align:center;
  text-shadow: 0 1px 10px #fff;
}
#home .tratamentos-esteticos {
  background-image: url("../img/shutterstock_55364368_t.jpg");
}
#home .rituais-spa {
  background-image: url("../img/shutterstock_55319875b_t.jpg");
}
#home .dermatologia {
  background-image: url("../img/shutterstock_33598795_t.jpg");
}
#home .pacotes {
  background-image: url("../img/shutterstock_73029259_t.jpg");
}

[id$="pic"] {
  width: 570px;
  height: 570px;
}
#clinica-pic {
  background-image: url("../img/tricologia.png");
}
#tratamento-pic {
  background-image: url("../img/shutterstock_12586174b.jpg");
}
#rituais-pic {
  background-image: url("../img/shutterstock_56302477.jpg");
}
#pacotes-pic {
  background-image: url("../img/shutterstock_73029259.jpg");
}

footer {
  width: 570px;
  position: absolute;
  bottom: 0;
}

.background {
  background-image: url("../img/background.jpg");
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
}
